<nav class="shadow p-4">
    <div class="flex justify-between px-2">
        <div class="flex justify-center items-center space-x-2 select-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#344E41" stroke-width="2.5" stroke-linecap="square" stroke-linejoin="arcs"> <path d="M2.5 2v6h6M21.5 22v-6h-6"/><path d="M22 11.5A10 10 0 0 0 3.2 7.2M2 12.5a10 10 0 0 0 18.8 4.2"/></svg>
            <h2>RecycleHub™</h2>
        </div>
        <div class="">
            <ul class="space-x-4">
                <li class="inline">
                    <a [routerLink]="'/c/home'" [routerLinkActive]="'bg-[#588157] text-white'" [ngClass]="{'hover:bg-[#A3B18A] hover:text-white': !isRouteActive('/c/home')}" [routerLinkActiveOptions]="{ exact: true }" class="py-1 px-2 rounded transition-all">Home</a>
                </li>
                <li class="inline">
                    <a [routerLink]="'/c/contribute'" [routerLinkActive]="'bg-[#588157] text-white'" [ngClass]="{'hover:bg-[#A3B18A] hover:text-white': !isRouteActive('/c/contribute')}" class="py-1 px-2 rounded transition-all">Contribute</a>
                </li>
                <li class="inline">
                    <a [routerLink]="'/c/about'" [routerLinkActive]="'bg-[#588157] text-white'" [ngClass]="{'hover:bg-[#A3B18A] hover:text-white': !isRouteActive('/c/about')}" class="py-1 px-2 rounded transition-all">About</a>
                </li>
                <li class="inline">
                    <a [routerLink]="'/c/contact-us'" [routerLinkActive]="'bg-[#588157] text-white'" [ngClass]="{'hover:bg-[#A3B18A] hover:text-white': !isRouteActive('/c/contact-us')}" class="py-1 px-2 rounded transition-all">Contact-us</a>
                </li>
                <!-- <li class="inline-block">
                    <div x-data="{ dropdown_open: false }">
                        <div>
                          <button 
                            x-on:click="dropdown_open = !dropdown_open" 
                            type="button" 
                            class="inline-flex group w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 hover:bg-gray-50 transition-all" 
                            id="menu-button" 
                            aria-expanded="true" 
                            aria-haspopup="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#151515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                              <line x1="3" y1="12" x2="21" y2="12"></line>
                              <line class="transform transition-all" x1="3" y1="6" x2="21" y2="6"
                                  x-bind:class="dropdown_open ? 'translate-x-1' : 'translate-x-0 group-hover:translate-x-0.5'"
                              ></line>
              
                              <line class="transform transition-all" x1="3" y1="18" x2="21" y2="18"
                                  x-bind:class="dropdown_open ? 'translate-x-2' : 'translate-x-0 group-hover:translate-x-1'"
                              ></line>
                          </svg>
                          </button>
                        </div>
                
                        <div 
                          x-show="dropdown_open" 
                          class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none" 
                          x-transition:enter="transition ease-out duration-100"
                          x-transition:enter-start="transform opacity-0 scale-95"
                          x-transition:enter-end="transform opacity-100 scale-100"
                          x-transition:leave="transition ease-in duration-75"
                          x-transition:leave-start="transform opacity-100 scale-100"
                          x-transition:leave-end="transform opacity-0 scale-95"
                          x-on:click.away="dropdown_open = false" 
                          role="menu" 
                          aria-orientation="vertical" 
                          aria-labelledby="menu-button" 
                          tabindex="-1">
                          <div class="py-1" role="none">
                            <a [routerLink]="'/auth/logout'" class="block flex gap-4 px-4 py-2 text-sm text-gray-700 hover:bg-red-500 group cursor-pointer focus:bg-red-700 transition-all" role="menuitem" tabindex="-1" id="menu-item-0">
                              <svg class="group-hover:stroke-white transition-all" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#151515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 3H6a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h4M16 17l5-5-5-5M19.8 12H9"/></svg>
                              <span class="font-medium group-hover:text-white transition-all">Logout</span>
                            </a>
                          </div>
                        </div>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</nav>